.filter_con{
    border: 1px solid black;
    width: 40%;
    /* text-align: center; */
    border-radius: 10px;
}
.filter_con div h4{
    text-align: center;
}
.filter_con div ul{
    list-style: none;
}
.filter_btns{
    display: flex;
    justify-content: space-around;
}