.home_body {
    /* border: 1px solid red; */
}

.home_body_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home_body_item div {
    border: 1px solid #26ccd4;
    padding: 14px;
    border-radius: 10px;
    box-shadow: 7px 6px 20px 0px rgba(153, 241, 245, 1);
}

